// RadarMeta nextflow.config

manifest {
    name            = 'radarmeta'
    author          = 'Ifeanyi Omah'
    homePage        = 'https://github.com/Ifeanyi-omah/radarmeta'
    description     = 'Reconciled, ML-augmented metagenomics classification pipeline'
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.10.0'
    version         = '0.1.0'
}

// default resource expectations; overridden by profile
process {
    errorStrategy = 'finish'
    cache         = 'lenient'

    withLabel: 'small' {
        cpus = 2; memory = '4 GB'; time = '1h'
    }
    withLabel: 'medium' {
        cpus = 8; memory = '32 GB'; time = '4h'
    }
    withLabel: 'large' {
        cpus = 20; memory = '64 GB'; time = '12h'
    }
    withLabel: 'xlarge_mem' {
        cpus = 16; memory = '256 GB'; time = '24h'   // BLAST nt
    }
    withLabel: 'gpu' {
        cpus = 8; memory = '32 GB'; time = '6h'
        accelerator = 1
    }
}

profiles {

    standard {
        process.executor = 'local'
    }

    docker {
        docker.enabled  = true
        singularity.enabled = false
        process.container = 'ghcr.io/ifeanyi-omah/radarmeta:0.1.0'
    }

    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        docker.enabled = false
        process.container = 'ghcr.io/ifeanyi-omah/radarmeta:0.1.0'
    }

    slurm {
        process.executor = 'slurm'
        process.queue    = 'standard'
    }

    test {
        params.samplesheet     = "$projectDir/test/data/samplesheet.csv"
        params.outdir          = './test_results'
        params.kraken2_db      = "$projectDir/test/data/kraken2_mini"
        params.rdrpcatch_db    = "$projectDir/test/data/rdrpcatch_mini"
        params.diamond_nr      = "$projectDir/test/data/nr_mini.dmnd"
        params.blast_nt        = "$projectDir/test/data/nt_mini"
        params.esm2_embeddings = "$projectDir/test/data/rdrp_mini.npz"
    }
}

timeline { enabled = true; file = "${params.outdir}/pipeline_info/timeline.html" }
report   { enabled = true; file = "${params.outdir}/pipeline_info/report.html"   }
trace    { enabled = true; file = "${params.outdir}/pipeline_info/trace.txt"     }
dag      { enabled = true; file = "${params.outdir}/pipeline_info/dag.svg"       }
